<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKCQaLjHUc6x8CV0b9S-AcrvVSwJqPcvU</string>
	<key>GCM_SENDER_ID</key>
	<string>462304492570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nalbantsoft.lojistik</string>
	<key>PROJECT_ID</key>
	<string>muallim-a34e4</string>
	<key>STORAGE_BUCKET</key>
	<string>muallim-a34e4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462304492570:ios:172f45ce12d5d3550e25a3</string>
</dict>
</plist>